@model _4thtry.Context.product
@{
    ViewBag.Title = "CartPage";
}

<h2 style="text-align:center">CartPage</h2>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="~/CSS/Allround.css" rel="stylesheet" />
<div class="center">
    @if (TempData["cart"] != null)
    {
        <table>
            <thead>
            <th colspan="2">Product</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Total</th>
            <th>Action</th>
            </thead>
            <tbody>
                @foreach (var item in TempData["cart"] as List<_4thtry.Context.Cart>)
                {
                <tr>
                    <td>
                        <img src="@Url.Content(item.product.product_img)" alt="Not found" width="100px">
                    </td>
                    <td>@item.product.product_name</td>
                    <td>
                        @if (item.qty == 1)
                        {
                            <a class="btn btn-sm btn-danger disabled"> -</a>
                        }
                        else
                        {
                            <a class="btn btn-sm btn-danger" href="@Url.Action("subqty", new { id = @item.cart_id })">-</a>
                        }

                        @item.qty
                        <a class="btn btn-sm btn-danger" href="@Url.Action("addqtya",new { id = @item.cart_id})">+</a>
                    </td>
                        <td>@item.unitprice</td>
                        <td>@item.total</td>
                        <td>
                            <a class="btn btn-sm btn-danger" href="@Url.Action("remove",new { id = @item.cart_id  })">Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
            <td colspan="4"></td>
            <td>Total: Nrs:@TempData["total"]</td>
            </tfoot>
        </table>

    }
    else
    {
        <h1>The cart is empty</h1>
        @Html.ActionLink("Go back to shopping", "ShoppingPage", "Product");
    }
    @if (TempData["cart"] != null)
    {
        using (Html.BeginForm())
        {

            <label for="address">Choose a address:</label>
            <select id="address" name="address">
                <option value="Nayabazar">Nayabazar</option>
                <option value="Newroad">Newroad</option>
                <option value="Mahendrapool">Mahendrapool</option>
                <option value="Prithvi Chowk">Prithvi Chowk</option>
                <option value="Lakeside">Lakeside</option>
                <option value="Amarsing Chowk">Amarsing Chowk</option>
            </select>
            <br />
            <label for="Phone_no">Phone no:</label>
            <input type="text" id="phone_no" name="phone_no" required />
            <br />
            <input type="submit" value="Confirm Order" class="btn btn-danger" />
        }
    }
</div>



<!-- bootstrap wala table <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" colspan="2" style="text-align:center">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>-->
@*  @foreach (var item in TempData["cart"] as List<_4thtry.Models.Cart>)*@
<!--{
            <tr>
                <th scope="row"><img src="@Url.Content("~/images/tomato.jpg")" alt="No img found" class="img-thumbnail"></th>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
            </tr>

        }

        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>twitter</td>
        </tr>
    </tbody>
</table>-->
